textarea {
    min-height: 400px;
}

.email-container {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Background Color Changer */
.b-gray {
    background-color: #d1d1d1;
}

.b-white {
    background-color: #fff;
}

/* Custom Button Modifiers */
.btn-custom {
    margin-right:5px;
}

